.new-image3 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 150px; /* Укажите желаемый размер нового изображения */
    height: auto; /* Сохраняет пропорции */
}