
#container1 {
    display: flex;
    justify-content: absolute;
    align-items: absolute;
    height: 100vh; /* Высота контейнера */
    text-align: absolute; /* Центрование текста, если нужно */
    background-color: #f0f0f0; /* Цвет фона, если нужен */
}

#container1 img {
    margin: 10px; /* Отступы между изображениями */
}
