.image-container {
    position: relative;
    display: inline-block; /* Позволяет контейнеру иметь размеры старого изображения */
}



.new-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Укажите желаемый размер нового изображения */
    height: auto; /* Сохраняет пропорции */
}
