body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    text-align: center;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.small-image {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    transition: transform 0.5s ease, top 0.5s ease;
}

.rotating {
    transform: rotate(360deg);
}
