.image-container {
    position: relative;
    display: inline-block; /* Позволяет контейнеру иметь размеры старого изображения */
}



.new-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; /* Укажите желаемый размер нового изображения */
    height: auto; /* Сохраняет пропорции */
}

.new-image2 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 150px; /* Укажите желаемый размер нового изображения */
    height: auto; /* Сохраняет пропорции */
}

.new-image3 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 150px; /* Укажите желаемый размер нового изображения */
    height: auto; /* Сохраняет пропорции */
}
